@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1280px;
  --breakpoint-xl: 1280px;
  --font-Dana-DemiBold: "DemiBold";
  --font-Dana-Medium: "Medium";
  --font-Dana-Regular: "Regular";
  --font-Morabba-Bold: "Morabba-Bold";
  --font-Morabba-Medium: "Morabba-Medium";
  --font-Morabba-Light: "Morabba-Light";
  --font-shabnam: "shabnam";
  --font-shabnam-bold: "shabnam-bold";
  --font-shabnam-medium: "shabnam-medium";
  --font-shabnam-thin: "shabnam-thin";

}

@layer components {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 12px
  }

  * {
    @apply transition-colors duration-500;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .mySwiper {
    padding-bottom: 40px !important;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer base {
  @font-face {
    font-family: "DemiBold";
    src: url("/fontsDana/woff2/DanaFaNum-DemiBold.woff2") format(truetype);
  }

  @font-face {
    font-family: "Medium";
    src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format(truetype);
  }

  @font-face {
    font-family: "Regular";
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format(truetype);
  }

  @font-face {
    font-family: "Morabba-Bold";
    src: url("/fonts/Morabba/woff2/Morabba-Bold.woff2") format(truetype);
  }

  @font-face {
    font-family: "Morabba-Medium";
    src: url("/fonts/Morabba/woff2/Morabba-Medium.woff2") format(truetype);
  }

  @font-face {
    font-family: "Morabba-Light";
    src: url("/fonts/Dana/woff2/Morabba-Light.woff2") format(truetype);
  }

  @font-face {
    font-family: "shabnam";
    src: url("/fonts/shabnam/Shabnam.woff2") format(truetype);
  }

  @font-face {
    font-family: "shabnam-bold";
    src: url("/fonts/shabnam/Shabnam-Bold.woff2") format(truetype);
  }

  @font-face {
    font-family: "shabnam-medium";
    src: url("/fonts/shabnam/Shabnam-Medium.woff2") format(truetype);
  }

  @font-face {
    font-family: "shabnam-thin";
    src: url("/fonts/shabnam/Shabnam-Thin.woff2") format(truetype);
  }
}

@utility bg-hero-desctop {
  background-image: linear-gradient(to right, rgba(17, 17, 17, .35), rgba(17, 17, 17, .35)),
    url('/img/desctop-hero.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@utility bg-hero-phone {
  background-image: linear-gradient(to right, rgba(17, 17, 17, .5), rgba(17, 17, 17, .5)),
    url('/img/phone-hero.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Dana-Regular";
}